// base vars
$font-family: "font", sans-serif;
$content-width: 1170px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// colors
$white: #fff;
$black: #000;
